header{
    background-color: #f0bc00;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
h1{
    font-size: 1.5em;
}
.navbar{
    width: 25%;
}
.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  10px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    border-radius: 50px;
    transition: .3s ease-in;
}
.navbar ul li a:hover{
    background-color: #fff9e2;
}
img{
    width: 50px;
}